[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
google-cloud-firestore = "*"
graphene = "*"
jupyter = "*"

[packages]
numpy = "==1.21.0"
pandas = "==0.25.0"
gensim = "*"
xgboost = "*"
scikit-learn = "*"

[requires]
python_version = "3.7"
